<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/CSS/stylesheet.css">
  <title>Document</title>
</head>
<body>
  <main>
    <nav class="navigator">
      <a href="/">
        <h5 id="home">回到首頁</h5>
      </a>
      <div class="info">
        <a href="">
          <h5 id="about">About</h5>
        </a>
        <a>
          <h5 id="portfolio">Portfolio</h5>
        </a>
        <a>
          <h5 id="contact">Contact</h5>
        </a>
      </div>
    </nav>
  </main>
 {{{ body }}}
</body>
</html>