<main>
  <nav class="navigator">
    <a href="/">
      <h5 class="home">回到首頁</h5>
    </a>
    <div class="info">
      <a href="/about">
        <h5 class="about">About</h5>
      </a>
      <a href="/portfolio">
        <h5 class="portfolio">Portfolio</h5>
      </a>
      <a href="/contact">
        <h5 class="contact">Contact</h5>
      </a>
    </div>
  </nav>
</main>
<h1>首頁</h1>